<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.hotel_order_system.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fang.hotel_order_system.entity.Comment">
        <id column="comment_id" property="commentId" />
        <result column="hotel_id" property="hotelId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="score" property="score" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
