<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.hotel_order_system.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fang.hotel_order_system.entity.Permission">
        <id column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
        <result column="pid" property="pid" />
        <result column="value" property="value" />
        <result column="url" property="url" />
    </resultMap>
    <select id="selectListByUserId" resultMap="BaseResultMap">
        SELECT p.*
        FROM user u
        LEFT JOIN user_role ur ON u.user_id=ur.user_id
        LEFT JOIN role r ON ur.role_id=r.role_id
        LEFT JOIN role_permission rp ON rp.role_id=r.role_id
        LEFT JOIN permission p ON p.permission_id =rp.permission_id
        WHERE u.user_id=#{userId}
    </select>

</mapper>
