<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.hotel_order_system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fang.hotel_order_system.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="icon" property="icon"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <resultMap id="UserVoResultMap" type="com.fang.hotel_order_system.entity.vo.UserVo">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="icon" property="icon"/>
        <result column="create_time" property="createTime"/>
        <collection property="roleList" ofType="com.fang.hotel_order_system.entity.Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="description" property="description"/>
        </collection>
    </resultMap>

    <select id="selectUserVoList" resultMap="UserVoResultMap">
        SELECT u.*,r.*
        FROM user u
        LEFT JOIN user_role ur
        ON u.user_id=ur.user_id
        LEFT JOIN role r
        ON ur.role_id=r.role_id
    </select>
    <select id="selectUserVoPage" resultMap="UserVoResultMap">
        SELECT u.*,r.*
        FROM user u
        LEFT JOIN user_role ur
        ON u.user_id=ur.user_id
        LEFT JOIN role r
        ON ur.role_id=r.role_id
    </select>
</mapper>
